@font-face {
	font-family: 'nucleo-icons';
	src:font-url('nucleo-icons.eot');
	src:font-url('nucleo-icons.eot?#iefix') format('embedded-opentype');
	src:font-url('nucleo-icons.ttf') format('truetype');
	src:font-url('nucleo-icons.woff') format('woff');
	src:font-url('nucleo-icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}